* {
    position: relative;
    font-family: 'Permanent Marker', '微軟正黑體',cursive;
    user-select: none;
}
html, body {
    height: 100%;
}
.bg {
    position: fixed;
    width: 100%;
    height: 100%;
}
    .bg span {
        font-size: 20rem;
        letter-spacing: 2rem;
        position: absolute;
        bottom: 1rem;
        left: 140%;
        transform: translateX(-50%);
        transition: all ease-out .3s;
        white-space: nowrap;
        color: rgba(0,0,0,.7);
    }

.header {
    position: relative;
    height: 100%;
    margin-bottom: 10rem;
    overflow: hidden;
    background-image: url(../images/liu_9.jpg);
    background-position: center;
    opacity: 0.9;
}
    .header .slideImg {
        float: left;
        font-size: 0;
        width: 33.333333%;
        height: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background-image: url(../images/liu_9.jpg);
        background-position: center center;
        transform: translateX(30%);
        animation: headSlide 2000ms 1 linear forwards;
    }
    .header .slideImg::after {
        content: "";
        clear: both;
    }
    .header .slideImg.headOne {
        background-position: -16%;
    }
    .header .slideImg.headTwo {
        transform: translateX(20%);
        animation: headSlide 1800ms 1 linear forwards;
    }
    .header .slideImg.headThree {
        transform: translateX(10%);
        background-position: 116%;
        animation: headSlide 1600ms 1 linear forwards;
    }

.info {
    height: 100%;
    margin-bottom: 10rem;
}
    .info .container {
        height: 100%;
    }
    .info .container > .infoContent {
        display: inline-block;
        position: absolute;
        top: 20%;
        right: 15%;
        font-size: 1.5rem;
        padding: 1rem 2rem;
        white-space: nowrap;
    }
    .info .container .infoContent:nth-child(2) {
        top: 30%;
    }
    .info .container .infoContent:nth-child(3) {
        top: 40%;
    }
    .info .container .rb:nth-child(2)::after {
        animation-delay: .3s;
    }
    .info .container .rb:nth-child(3)::after {
        animation-delay: .6s;
    }
    .info .container .infoContent span {
        opacity: 0;
        letter-spacing: .3rem;
    }
    .info > .infoImg {
        position: absolute;
        width: 30%;
        height: 90%;
        left: 20%;
        top: 5%;
        z-index: 2;
    }
        .info > .infoImg::before {
            content: "";
            display: block;
            height: 100%;
            width: 100%;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            position: absolute;
            bottom: -2rem;
            right: -2rem;
            border: solid 5px #81CBC8;
        }
        .info > .infoImg .img {
            background-image: url(../images/liu_1.jpg);
            width: 100%;
            height: 100%;
            background-position: left center;
            -webkit-background-size: cover;
            background-size: cover;
        }

    .rb {
        overflow: hidden;
    }
        .rb span {
            animation: show 1s cubic-bezier(0.55, 0.055, 0.675, 0.19) 1 both;
        }
        .rb::after {
            content: "";
            width: 100%;
            height: 100%;
            display: block;
            background: #81CBC8;
            position: absolute;
            top: 0;
            left: 0;
            animation: slideBox 1s cubic-bezier(0.55, 0.055, 0.675, 0.19) 1 both;
        }

.portfolio {
    width: 100%;
    height: 100%;
    display: table;
    margin-bottom: 10rem;
    position: relative;
}
    .portfolio::after {
        content: '';
        clear: both;
    }
    .portfolio .waveBox {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
        .portfolio .waveBox .wave {
            position: absolute;
            left: 0;
            width: 110vw;
            height: 110vw;
            border-radius: 40%;
            background-color: #FF6889;
            margin-top: -50px;
            margin-left: -300px;
            transition: left 2s;
            opacity: 0.5;
            animation: drift 3000ms infinite linear;
        }
            .portfolio .wave.waveTwo {
                background-color: #FAE3D9;
                animation: drift 5000ms infinite linear;
                opacity: 0.7;
            }
            .portfolio .wave.waveThree {
                animation: drift 3500ms infinite linear;
            }
    .portfolio .works {
        width: 80%;
        margin: auto;
    }
    .portfolio .work {
        width: 32.5%;
        float: left;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
        overflow: hidden;
        cursor: pointer;
    }
        .portfolio .work .workInner {
            padding-top: 50%;
            padding-bottom: 50%;
            display: block;
            width: 100%;
            height: 100%;
            transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
            background-image: url(../images/liu_2.jpg);
            -webkit-background-size: cover;
            background-size: cover;
            background-position: center;
            transform: scale(1);
        }
        .portfolio .work .workInner:hover {
            transform: scale(1.2);
        }
        .portfolio .work .workInner_0, .portfolio .work .workInner_1, .portfolio .work .workInner_2 {
            background-position: left;
        }
        /* 取消 margin-bottom */
        .portfolio .work.noneMB {
            margin-bottom: 0;
        }

.footer {
    background-image: url(../images/liu_10.jpg);
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    opacity: 0.9;
}

@keyframes slideBox {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(101%);
        animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
    }
}
@keyframes show {
    0%, 50% {
        opacity: 0;
    }
    51%, 100% {
        opacity: 1;
    }
}
/* header slide */
@keyframes headSlide {
    50% {
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(0);
    }
}
@keyframes drift {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1281px) {
    .bg span {
        font-size: 15rem;
        left: 150%;
    }
    .header .slideImg.headOne {
        background-position: 14.7%;
    }
    .header .slideImg.headThree {
        background-position: 84.7%;
    }
    .info .container > .infoContent {
        right: 5%;
    }
    .info > .infoImg {
        top: 10%;
        left: 10%;
        width: 40%;
        height: 80%;
    }
    .portfolio .waveBox .wave {
        margin-left: -200px;
    }
    .portfolio .work {
        width: 32%;
        margin-right: 0.5%;
        margin-left: 0.5%;
    }
}
@media screen and (max-width: 981px) {
    .header {
        height: 70%;
        -webkit-background-size: cover;
        background-size: cover;
    }
    .header > .slideImg {
        -webkit-background-size: cover;
        background-size: cover;
    }
    .header .slideImg.headOne {
        background-position: -8.4%;
    }
    .header .slideImg.headThree {
        background-position: 108.4%;
    }
    .info .container > .infoContent {
        font-size: 2rem;
        right: 1rem;
        top: 1rem;
    }
    .info .container > .infoContent:nth-child(2) {
        top: 5rem;
    }
    .info .container > .infoContent:nth-child(3) {
        top: 9rem;
    }
    .info > .infoImg {
        top: 35%;
        width: 80%;
        height: 70%;
    }
}
@media screen and (max-width: 765px) {
    .bg span {
        left: 200%;
        bottom: -1rem;
    }
    .header {
        margin-bottom: 5rem;
    }
    .header .slideImg.headOne {
        background-position: 15.4%;
    }
    .header .slideImg.headThree {
        background-position: 85%;
    }
    .portfolio .works .work {
        width: 100%;
    }
    .info > .infoImg {
        top: 30%;
        width: 80%;
    }
}

@media screen and (min-width: 1281px) {
    .info .container > .infoContent {
        right: 15%
    }
}